html{
  margin: 0;
  overflow-x: hidden;
}

#Landing{
  height: 100vh;
  width: 100vw;
  min-height: 520px;
  display: flex;
  align-items: center;
  /*border: solid 2px grey;*/
}

#Landing #Logo {
  height: 80px;
  float: right;
  margin-right: 25px;
}

#Landing #Title {
  color: #7665AA;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
}

#Landing p {
  color: rgba(118,101,170, .6);
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 200;
}

#Landing button {
  background-color: white;
  border: rgba(252, 72, 127, .8) solid 2px;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  color: rgba(252, 72, 127, .8);
  padding: 10px;
  outline: none;
  display: block;
  margin: auto;
  margin-top: 5px;
  -webkit-transition: bakgroun-color .5s;
  /* Safari */
  transition: background-color  .5s;
}

#Landing button:hover {
  background-color: rgba(252, 72, 127, 1);
  border-color: rgba(252, 72, 127, 1);
  color: white;
  cursor: pointer;

}

#Landing button:active {
  background-color: rgba(252, 72, 127, .8);
  border-color: rgba(252, 72, 127, .8);
}

@media (max-width: 767px) {
  #Title{
    text-align: center;
  }
  #Landing #Logo{
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
    padding-left: 25px;
  }
}

/* SCROLL ICON */
#Landing2{
  position: absolute;
  height: 100vh;
  width: 100vw;
  /*background: rgba(0,0,0,.5);*/
  z-index: 2;
  display: flex;
  align-items: flex-end;
  visibility: visible;
  pointer-events: none;
  min-height: 520px;
}

.scroll-downs {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 25px;
  left: 0;
  margin: auto;

  width :34px;
  height: 55px;
}

.mousey {
  width: 10px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid rgba(118,101,170, .6);
  border-radius: 25px;
  opacity: 0.75;
  bottom: 0px;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: rgba(118,101,170, .6);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; transform: translate(-1px, 0);}
  10% { transform: translate(-1px, 0); opacity: 1; }
  100% { transform: translate(-1px, 15px); opacity: 0;}
}

@media (max-width: 430px) {
  #Landing2{
    visibility: hidden;
  }
}

/*Mockups*/
#Mockups{
  height: 100vh;
  width: 100vw;
  min-height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: red solid 2px;*/
}

#Mockups #mac {
  width: 600px;
  transform: translateX(50px);
}

#Mockups #iPhone{
  width: 170px;
  z-index: 2;
  position: absolute;
  transform: translate(-200px, 40px);
}

.quote{
  position: absolute;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(0,0,0,.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  min-height: 520px;
  transform: translateY(250px);
}
#Quote {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #7665AA;
}

@media (max-width: 767px) {
  #Mockups #mac {
    width: 400px;
    transform: translateX(-2px);
  }
  #Mockups #iPhone{
    width: 110px;
    transform: translate(-150px, 25px);
  }
  #Quote{
    font-size: 20px;
    transform: translateY(-90px);
  }
}

@media (max-width: 430px) {
  #Mockups #mac {
    width: 80%;
    transform: translateX(0px);
  }
  #Mockups #iPhone{
    width: 22%;
    transform: translate(-120px, 25px);
  }
  #Quote{
    font-size: 18px;
    transform: translateY(-120px);
  }
}

/*CONTENT*/
#Content {
  /*border: solid 2px grey;*/
  height: 100vh;
  width 100vw;
  margin: 45px;
}

/*FOOTER*/
footer{
  font-family: "Lato", sans-serif;
  margin: 45px;
  color: #7665AA;
  font-size: 2px;
}
footer h6{
  background-color: #7665AA;
  display: inline;
  color: white;
  padding: 5px;
}

footer span{
  color: rgba(252, 72,127, 0.8);
}

@media (max-width: 767px) {
  footer h5{ font-size: 18px; }
  footer h6{ font-size: 14px; }
}
@media (max-width: 453px) {
  footer h6{ font-size: 14px; }
}
